# This is a basic workflow to help you get started with the CI/CD for Functions Project
   
name: Build and Deploy Job
   
on:
  push:
    branches: ["main"]
 
  pull_request: 
    branches: [main]
 
  workflow_dispatch:
   
env:
  AZURE_FUNCTIONAPP_NAME: 'bt-num-analyzer'   # set this to your function app name on Azure
  PYTHON_VERSION: '3.12' # Set this to 3.12
   
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
